<!DOCTYPE html>
{% extends 'userindex.html' %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div>

<div >
    <div class="container-fluid">

        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
          <div class="container my-5">
            <div class="row" style="text-align:center" >
                <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Rooms</th>
      <th scope="col">Kitchen</th>
      <th scope="col">Information</th>
      <th scope="col">City</th>
      <th scope="col">Rent</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Image</th>
      <th scope="col">Options</th>






    </tr>
  </thead>
  <tbody>
  {% for d in data %}
    <tr>
      <th scope="row">1</th>
      <td>{{d.Category}}</td>
      <td>{{d.Rooms}}</td>
        <td>{{d.Kitchen}}</td>
        <td>{{d.Information}}</td>
        <td>{{d.City}}</td>
        <td style="color:red">{{d.Rent}}</td>
        <td>{{d.Mobile}}</td>
        <td>{{d.Email}}</td>
        <td><img src="{{d.Image.url}}"></td>
        <td><a href="{% url 'PostDelete' crt_id=d.id %}"><button class="btn btn-primary">Delete</button></a></td>



<!--        <td>{% if not d.payment_status %}-->
<!--        <a href="{% url 'payment' d.id %}"><button class="btn btn-primary">Pay</button></a>-->
<!--    {% else %}-->
<!--        <span class="badge bg-success">Paid</span>-->
<!--    {% endif %}</td>-->

<!--        <td><a href=""><button class="btn btn-primary">Paid</button></a></td>-->

    </tr>
    {% endfor %}
  </tbody>
</table>









            </div>
          </div>
        </div>






</div>
</div>




</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
{% endblock %}
