<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>
<div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Mobile
                          </th>
                            <th>
                                City
                            </th>
                            <th>
                                Address
                            </th>
                            <th>Action</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                      <tr>

                        <td>{{d.Name}}</td>
                        <td>{{d.Email}}</td>
                          <td>{{d.Mobile}}</td>
                          <td>{{d.City}}</td>
                          <td>{{d.Address}}</td>

<!--                        <td><img src="{{d.Image.url}}"></td>-->
                        <td>
                              <a href="{% url 'delete_client' cat_id=d.id %}"><button style="border-radius:8px; background-color:#2b2e2c; color:red">DELETE</button></a>
                            </td>

                      </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
</body>
</html>
{% endblock %}